Repository Xdynix/python-ulid-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pdm-lock-check

mypy:
  name: mypy
  entry: pdm run mypy
  language: system

pdm-lock-check:
  name: check PDM lock file
  entry: pdm lock --check
  language: system
  pass_filenames: false

feat: add ULID converter
  README.md
  pyproject.toml
  src/ulid_django/converters.py
  tests/test_converters.py
Due: mypy, pdm-lock-check

fix: add django-stub type annotations
  pyproject.toml
  src/ulid_django/models.py
Due: mypy, pdm-lock-check

fix: maintain lock file
  pdm.lock
Due: none

chore: update dependencies
  pdm.lock
  pyproject.toml
  src/ulid_django/models.py
Due: mypy, pdm-lock-check

chore: bump version to 1.2.0
  pyproject.toml
Due: pdm-lock-check

feat: loosen field set and lookup typing
  src/ulid_django/models.py
Due: mypy

fix: update dependencies
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  tests/test_converters.py
  tests/test_forms.py
  tests/test_models.py
Due: mypy, pdm-lock-check

test: add test site and integration tests
  pdm.lock
  pyproject.toml
  tests/test_converters.py
  tests/test_forms.py
  tests/test_models.py
  testsite/example/__init__.py
  testsite/example/admin.py
  testsite/example/apps.py
  testsite/example/migrations/0001_initial.py
  testsite/example/migrations/__init__.py
  testsite/example/models.py
  testsite/example/urls.py
  testsite/example/views.py
  testsite/manage.py
  testsite/testsite/__init__.py
  testsite/testsite/asgi.py
  testsite/testsite/settings.py
  testsite/testsite/urls.py
  testsite/testsite/wsgi.py
Due: mypy, pdm-lock-check

chore: bump version to 1.2.1
  pyproject.toml
Due: pdm-lock-check

chore: update classifiers
  pyproject.toml
Due: pdm-lock-check

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat: support 36-char UUID string in form field
  src/ulid_django/forms.py
  tests/test_forms.py
Due: mypy

fix: replace missing import in Python 3.10/3.11
  pdm.lock
  pyproject.toml
  src/ulid_django/converters.py
  src/ulid_django/models.py
Due: mypy, pdm-lock-check

chore: bump version to 1.3.0
  pyproject.toml
Due: pdm-lock-check

chore: drop support for Python<3.12 and Django<5.2
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  src/ulid_django/models.py
Due: mypy, pdm-lock-check

feat: support python-ulid 4.x
  pdm.lock
  pyproject.toml
Due: pdm-lock-check

build: set upper version bound for django
  pdm.lock
  pyproject.toml
Due: pdm-lock-check

build: upgrade django-stubs and mypy
  pdm.lock
  pyproject.toml
Due: pdm-lock-check

chore: refresh locked dependencies
  pdm.lock
Due: none

build: migrate from pdm to uv
  .commitlintrc.yaml
  .markdownlint.yaml
  .pre-commit-config.yaml
  .python-version
  README.md
  justfile
  pdm.lock
  pyproject.toml
  uv.lock
Due: pdm-lock-check

ci: update hooks and commitlint rules
  .commitlintrc.yaml
  .gitignore
  .pre-commit-config.yaml
Due: none

fix: expose ULID type to downstream mypy
  src/ulid_django/models.py
  tests/conftest.py
  tests/data.py
  tests/test_models.py
Due: mypy

fix: tighten ULID URL converter regex
  src/ulid_django/converters.py
  tests/test_converters.py
Due: mypy

refactor: tidy form field and its tests
  src/ulid_django/forms.py
  tests/test_forms.py
Due: mypy

build: renovate toolchain and metadata
  justfile
  pyproject.toml
  uv.lock
Due: pdm-lock-check

docs: document form field, fix name typo
  README.md
Due: none

chore: bump version to 1.6.0
  pyproject.toml
  uv.lock
Due: pdm-lock-check

build: add Windows-only publish recipe
  justfile
Due: none

Path conditions:
  mypy: any of: \.py$
  pdm-lock-check: any of: ^pyproject.toml$
